<h4 style="text-align: center;"> Curso: Programación para el análisis de datos</h4><br>
<h4 style="text-align: center;">Tarea: Unidad 1 - ejercicio 1</h4><br>
<h4 style="text-align: center;">Presentado por: Oscar Andrés Russi Porras</h4><br>
<h4 style="text-align: center;">Grupo: 10</h4><br>
<h4 style="text-align: center;">Código: 1018436442</h4><br>
<h4 style="text-align: center;">Presentado a: Felipe Alexander Pipicano Guzmán</h4><br>
<h4 style="text-align: center;">Universidad Nacional Abierta y a Distancia – UNAD</h4><br>
<h4 style="text-align: center;">Fecha: 10/09/2023</h4><br>

<h3>
    Para este ejercicio, cargue en la variable df el conjunto de datos que
se presentan en el archivo CSV, Anexo 1 - Student Weight Status.csv,
que se encuentra en la carpeta de la Unidad 2 - Tarea 2 -
Programación para la Manipulación de Datos. Tenga en cuenta el tipo
de separador y los encabezados de las columnas.
  </h3>

In [1]:
import requests
import pandas as pd

csv_file_path = r"Anexo 1 - Student Weight Status.csv" # csv file path
df = pd.read_csv(csv_file_path)  # read table in csv file
df

,LOCATION CODE,COUNTY,AREA NAME,REGION,SCHOOL YEARS,NO. OVERWEIGHT,PCT OVERWEIGHT,NO. OBESE,PCT OBESE,NO. OVERWEIGHT OR OBESE,PCT OVERWEIGHT OR OBESE,GRADE LEVEL,AREA TYPE,STREET ADDRESS,CITY,STATE,ZIP CODE,LATITUDE,LONGITUDE,Location 1
0,4,CATTARAUGUS,CATTARAUGUS,WESTERN NEW YORK,2010-2012,575.0,18.4,565.0,18.1,1140.0,36.5,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4,CATTARAUGUS,CATTARAUGUS,WESTERN NEW YORK,2010-2012,380.0,19.4,416.0,21.3,796.0,40.7,MIDDLE/HIGH,COUNTY,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,CATTARAUGUS,CATTARAUGUS,WESTERN NEW YORK,2012-2014,873.0,17.2,994.0,19.6,1867.0,36.9,DISTRICT TOTAL,COUNTY,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,CATTARAUGUS,CATTARAUGUS,WESTERN NEW YORK,2012-2014,551.0,17.2,571.0,17.8,1122.0,35.0,ELEMENTARY,COUNTY,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,CATTARAUGUS,CATTARAUGUS,WESTERN NEW YORK,2012-2014,292.0,16.0,413.0,22.6,705.0,38.6,MIDDLE/HIGH,COUNTY,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8917,700000,NaN,WESTERN NEW YORK,WESTERN NEW YORK,2014-2016,6080.0,16.3,5712.0,15.3,11792.0,31.6,ELEMENTARY,REGION,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8918,700000,NaN,WESTERN NEW YORK,WESTERN NEW YORK,2014-2016,4495.0,17.8,4958.0,19.7,9453.0,37.6,MIDDLE/HIGH,REGION,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8919,700000,NaN,WESTERN NEW YORK,WESTERN NEW YORK,2016-2018,10422.0,16.3,11206.0,17.5,21628.0,33.8,DISTRICT TOTAL,REGION,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8920,700000,NaN,WESTERN NEW YORK,WESTERN NEW YORK,2016-2018,6089.0,15.7,6118.0,15.8,12207.0,31.6,ELEMENTARY,REGION,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8921,700000,NaN,WESTERN NEW YORK,WESTERN NEW YORK,2016-2018,4224.0,17.2,5061.0,20.7,9285.0,37.9,MIDDLE/HIGH,REGION,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h3>Realice paso a paso las siguientes tareas, siguiendo lo estudiando en
las referencias:
    <ul>
        <li>Fusionando datos:Cree un DataFrame p1 con los datos del 0 al 1 con las columnas
'area_name' y 'county' de df.</li>
        <li>Creen un DataFrame p2 con los datos del 2 al 4 con las
columnas 'area_name' y 'county' de df.</li>
        <li>Concatene p1 y p2 y muestre los resultados.</li>
    </ul>
</h3>

In [17]:
p1 = df[['AREA NAME', 'COUNTY']][0:2]
p2 = df[['AREA NAME', 'COUNTY']][2:5]
print(pd.concat([p1,p2]))

     AREA NAME       COUNTY
0  CATTARAUGUS  CATTARAUGUS
1  CATTARAUGUS  CATTARAUGUS
2  CATTARAUGUS  CATTARAUGUS
3  CATTARAUGUS  CATTARAUGUS
4  CATTARAUGUS  CATTARAUGUS
['ELEMENTARY' 'MIDDLE/HIGH' 'DISTRICT TOTAL']

<h3>Concatene p1 y p2 identificando las asignaciones por las llaves
‘p1’ y ‘p2’ y muestre los resultados y asígnelos a la variable
concatened. Comente las diferencias con el DataFrame anterior
y mencione desde su punto de vista las posibles utilidades de
esta herramienta.</h3>

In [7]:
concatenated = pd.concat([p1,p2], keys = ['p1','p2'])
print(concatenated)

        AREA NAME       COUNTY
p1 0  CATTARAUGUS  CATTARAUGUS
   1  CATTARAUGUS  CATTARAUGUS
p2 2  CATTARAUGUS  CATTARAUGUS
   3  CATTARAUGUS  CATTARAUGUS
   4  CATTARAUGUS  CATTARAUGUS

<h3>Desde el DataFrame concatened rescate los datos de p1.</h3>

In [9]:
print(concatenated.loc['p1'])

     AREA NAME       COUNTY
0  CATTARAUGUS  CATTARAUGUS
1  CATTARAUGUS  CATTARAUGUS

<h3>Operaciones de agregación:
 <ul><li>Encuentre el número promedio de estudiantes que son obesos
     en escuelas de primaria (tipo ‘ELEMENTARY’).</li></ul>
</h3>

In [10]:
elementary_students = df[df['GRADE LEVEL'] == 'ELEMENTARY']
print(elementary_students['NO. OBESE'].mean())

275.78676207513416

<h3>Encuentre el número total de estudiantes de primaria que son
obesos.
</h3>

In [13]:
print(elementary_students['NO. OBESE'].sum())

770824.0

<h3>Encuentre el número máximo de estudiantes obsesos que tiene
una escuela.</h3>

In [27]:
middle_students = df[df['GRADE LEVEL'] == 'ELEMENTARY']
all_school = pd.concat([elementary_students,middle_students])
print(all_school['NO. OBESE'].max())

49140.0

<h3>Encuentre el número mínimo de estudiantes obsesos que tiene
una escuela</h3>

In [19]:
print(all_school['NO. OBESE'].min())

5.0

<h3>Obtenga la desviación estándar del número de estudiantes
obsesos en las escuelas..</h3>

In [20]:
print(all_school['NO. OBESE'].std())

2020.9439943613067

<h3>Obtenga la cantidad de escuelas de primarias en el condado
(county) de DELAWARE.</h3>

In [25]:
print(len(elementary_students[elementary_students['COUNTY']=='DELAWARE']))

52

<h3>Uniones (Joins):
    <ul>
<li>Defina un DataFrame de búsqueda llamado grade_lookup, que
tenga las columnas ‘grade_level y ‘level’ que asigne niveles a
cada uno de los grados como sigue: 1 a 'ELEMENTARY', 2 a
    'MIDDLE/HIGH', 3 a 'MISC'.</li></ul></h3>

In [70]:
lookup = {'GRADE LEVEL': pd.Series(['ELEMENTARY',
'MIDDLE/HIGH', 'MISC']),
'LEVEL': pd.Series([1, 2, 3])}
grade_lookup = pd.DataFrame(lookup)
print(grade_lookup)

   GRADE LEVEL  LEVEL
0   ELEMENTARY      1
1  MIDDLE/HIGH      2
2         MISC      3

<h3>Por otro lado, tome las primeras cinco filas de la columna de
datos en la columna GRADE e imprímalas (Téngalas en cuenta
pues las utilizaremos para estudiar los tipos de uniones).</h3>

In [56]:
first_five_rows=df['GRADE LEVEL'][0:5]
print(first_five_rows)

0        ELEMENTARY
1       MIDDLE/HIGH
2    DISTRICT TOTAL
3        ELEMENTARY
4       MIDDLE/HIGH
Name: GRADE LEVEL, dtype: object

<h3>Describa los inner joins y realice un ejemplo con las primeras 5
filas de la columna grade_level y grade_lookup, muestre sus
resultados y explíquelos.</h3>

In [71]:
inner_join = pd.merge(first_five_rows, grade_lookup, on='GRADE LEVEL', how='inner')
#first_five_rows.join(grade_lookup.set_index(['GRADE LEVEL']),
#on=['GRADE LEVEL'], how='inner')
# pd.merge(df[1:5], grade_lookup, on='GRADE LEVEL', how='inner')
print(inner_join)

   GRADE LEVEL  LEVEL
0   ELEMENTARY      1
1   ELEMENTARY      1
2  MIDDLE/HIGH      2
3  MIDDLE/HIGH      2

<h3>Describa los left outer joins y realice un ejemplo con las
primeras 5 filas de la columna grade_level y grade_lookup,
muestre sus resultados y explíquelos..</h3>

In [72]:
left_join = pd.merge(first_five_rows, grade_lookup, on='GRADE LEVEL', how='left')
print(left_join)

      GRADE LEVEL  LEVEL
0      ELEMENTARY    1.0
1     MIDDLE/HIGH    2.0
2  DISTRICT TOTAL    NaN
3      ELEMENTARY    1.0
4     MIDDLE/HIGH    2.0

<h3>Describa los full outer joins y realice un ejemplo con las
primeras 5 filas de la columna grade_level y grade_lookup,
muestre sus resultados y explíquelos.</h3>

In [73]:
outer_join = pd.merge(first_five_rows, grade_lookup, on='GRADE LEVEL', how='outer')
print(outer_join)

      GRADE LEVEL  LEVEL
0      ELEMENTARY    1.0
1      ELEMENTARY    1.0
2     MIDDLE/HIGH    2.0
3     MIDDLE/HIGH    2.0
4  DISTRICT TOTAL    NaN
5            MISC    3.0

<h3>Agrupaciones:
    <ul>
        <li>
Encontrar la suma del número de estudiantes obesos en cada
uno de los grados mediante el uso de la función groupby de
pandas. Muestre sus resultados y explíquelo.
        </li>
        </ul>
</h3>

In [75]:
sum_obese_by_grade = df['NO. OBESE'].groupby(df['GRADE LEVEL']).sum()
print(sum_obese_by_grade)

GRADE LEVEL
DISTRICT TOTAL    1359576.0
ELEMENTARY         770824.0
MIDDLE/HIGH        577812.0
Name: NO. OBESE, dtype: float64

<h3>
Muestre diferentes tipos de agregación por suma, media y
desviación estándar de los estudiantes obsesos en cada uno de
los grados.
</h3>

In [88]:
mean_obese_by_grade = df['NO. OBESE'].groupby(df['GRADE LEVEL']).mean()
print("\nMEAN NO. OBESE BY GRADE:\n")
print(mean_obese_by_grade)
standard_obese_by_grade = df['NO. OBESE'].groupby(df['GRADE LEVEL']).std()
print("\nSTANDARD DEVIATION NO. OBESE BY GRADE:\n")
print(standard_obese_by_grade)
median_obese_by_grade = df['NO. OBESE'].groupby(df['GRADE LEVEL']).median()
print("\nMEDIAN NO. OBESE BY GRADE:\n")
print(median_obese_by_grade)
count_obese_by_grade = df['NO. OBESE'].groupby(df['GRADE LEVEL']).count()
print("\nCOUNT NO. OBESE BY GRADE:\n")
print(count_obese_by_grade)
min_obese_by_grade = df['NO. OBESE'].groupby(df['GRADE LEVEL']).min()
print("\nMINIMUM NO. OBESE BY GRADE:\n")
print(min_obese_by_grade)
max_obese_by_grade = df['NO. OBESE'].groupby(df['GRADE LEVEL']).max()
print("\nMAX NO. OBESE BY GRADE:\n")
print(max_obese_by_grade)
skew_obese_by_grade = df['NO. OBESE'].groupby(df['GRADE LEVEL']).skew()
print("\SKEWNESS NO. OBESE BY GRADE:\n")
print(skew_obese_by_grade)

MEAN NO. OBESE BY GRADE:

GRADE LEVEL
DISTRICT TOTAL    473.719861
ELEMENTARY        275.786762
MIDDLE/HIGH       215.039821
Name: NO. OBESE, dtype: float64

STANDARD DEVIATION NO. OBESE BY GRADE:

GRADE LEVEL
DISTRICT TOTAL    3502.973168
ELEMENTARY        2021.124815
MIDDLE/HIGH       1532.055998
Name: NO. OBESE, dtype: float64

MEDIAN NO. OBESE BY GRADE:

GRADE LEVEL
DISTRICT TOTAL    92.0
ELEMENTARY        52.0
MIDDLE/HIGH       44.0
Name: NO. OBESE, dtype: float64

COUNT NO. OBESE BY GRADE:

GRADE LEVEL
DISTRICT TOTAL    2870
ELEMENTARY        2795
MIDDLE/HIGH       2687
Name: NO. OBESE, dtype: int64

MINIMUM NO. OBESE BY GRADE:

GRADE LEVEL
DISTRICT TOTAL    5.0
ELEMENTARY        5.0
MIDDLE/HIGH       5.0
Name: NO. OBESE, dtype: float64

MAX NO. OBESE BY GRADE:

GRADE LEVEL
DISTRICT TOTAL    86016.0
ELEMENTARY        49140.0
MIDDLE/HIGH       36526.0
Name: NO. OBESE, dtype: float64
\SKEWNESS NO. OBESE BY GRADE:

GRADE LEVEL
DISTRICT TOTAL    20.354831
ELEMENTARY        19.931150
MIDDLE/HIGH       19.863275
Name: NO. OBESE, dtype: float64

<h3>Conclusiones</h3>
<ul>
    <li>De los 21 tipos de barcos, el 80.95% tiene una masa de menos de 1 millón de kilogramos, y solo un barco supera los 4 millones de kilogramos en su masa.</li>
    <li>la data que se obtiene del edpoint de spacex tiene 28 filas y 24 columnas. De esas 24 columnas 9 son variables cuantitativas y dos son listas, una es la lista de roles y la otra es la lista de lanzamientos.</li>
</ul>

<h3>Bibliografía</h3>
<ul>
<li>Alex Galea. (2018). Applied Data Science with Python and Jupyter: Use Powerful Industry-standard Tools to Unlock New, Actionable Insights From Your Data: Vol. 1st edition.</li>
<li>Boschetti, A., & Massaron, L. (2016). Python Data Science Essentials - Second Edition (Vol. 0002).</li>
<li>Samir Madhavan. (2015). Mastering Python for Data Science: Explore the World of Data Science Through Python and Learn How to Make Sense of Data.</li>
<li>Vargas, M. (2022). Carga de datos en Python desde un archivo Excel. UNAD. [OVI]</li>
<li>McKinney, W. (2015). Pandas, python data analysis library. URL http://pandas. pydata. org, 3-15.</li>
</ul>