In [1]:
import pandas as pd
excel_file_path=r"Anexo 1 - Base de Datos EXCEL.xlsx"
sheet_name = "BASE DE DATOS" # Specify the sheet name
skiprows = 3           # Skip the first three rows
usecols = 'A:M'        # Only read columns A to M
header = 0             # Use the first row as column headers

df1 = pd.read_excel(excel_file_path, sheet_name=sheet_name, skiprows=skiprows, usecols=usecols, header=header)
df1
# df1.describe(include=[int])
# df1.info(show_counts=True, memory_usage=True, verbose=True)

,Servicio,Empresa,Turno,Día de la semana,Experiencia del conductor,Formación del Paramédico,Nivel del Paramédico,Cantidad de atenciones,Distancia recorrida (Km),Velocidad máxima (Km/h),Consumo de combustible (Galones),Tiempo en Movimiento (h),Tiempo motor ON (h)
0,1,TAC,D,5,Principiante,4,I,8,78.4,82,3.1,2.8,3.08
1,2,TAD,N,4,Principiante,3,B,5,46.2,89,1.9,2.1,2.31
2,3,TAB,N,4,Experto,4,B,6,62.4,99,2.5,2.6,4.68
3,4,TAB,D,2,Intermedio,3,B,7,70.2,95,3.0,2.6,3.12
4,5,TAC,N,7,Principiante,2,I,8,75.6,87,2.8,2.8,3.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,2196,TAB,D,3,Experto,3,B,6,58.0,100,1.7,2.9,3.19
2196,2197,TAB,N,6,Intermedio,4,B,7,69.6,92,3.0,2.9,4.64
2197,2198,TAB,D,3,Principiante,2,B,5,50.0,86,2.0,2.5,3.75
2198,2199,TAD,D,7,Intermedio,1,B,6,57.2,94,2.6,2.6,2.86
2199,2200,TAD,D,3,Intermedio,1,I,8,84.1,92,3.6,2.9,4.35

In [3]:
csv_file_path = r"Anexo 2 - Base de Datos CSV.csv"
df2 = pd.read_csv(csv_file_path)
df2

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,NaN,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,NaN,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [4]:
from sklearn.datasets import load_breast_cancer
cancer_data = load_breast_cancer()

df3 = pd.DataFrame(data=cancer_data.data, columns= cancer_data.feature_names)      
df3

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,0.07871,...,25.380,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,0.05667,...,24.990,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,0.05999,...,23.570,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,0.09744,...,14.910,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,0.05883,...,22.540,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,0.05623,...,25.450,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115
565,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,0.05533,...,23.690,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637
566,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,0.05648,...,18.980,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820
567,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,0.07016,...,25.740,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400
568,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,0.05884,...,9.456,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039

In [18]:
df_dict = {'tabla excel': df1, 'tabla csv': df2, 'tabla cancer breast': df3}
df_combined = pd.concat([df1, df2, df3], keys=['tabla excel', 'tabla csv', 'tabla cancer breast'])
print(df_combined)

                         Servicio Empresa Turno  Día de la semana  \
tabla excel         0         1.0     TAC     D               5.0
                    1         2.0     TAD     N               4.0
                    2         3.0     TAB     N               4.0
                    3         4.0     TAB     D               2.0
                    4         5.0     TAC     N               7.0
...                           ...     ...   ...               ...
tabla cancer breast 564       NaN     NaN   NaN               NaN
                    565       NaN     NaN   NaN               NaN
                    566       NaN     NaN   NaN               NaN
                    567       NaN     NaN   NaN               NaN
                    568       NaN     NaN   NaN               NaN

                        Experiencia del conductor  Formación del Paramédico  \
tabla excel         0                Principiante                       4.0
                    1                Principiante                       3.0
                    2                     Experto                       4.0
                    3                  Intermedio                       3.0
                    4                Principiante                       2.0
...                                           ...                       ...
tabla cancer breast 564                       NaN                       NaN
                    565                       NaN                       NaN
                    566                       NaN                       NaN
                    567                       NaN                       NaN
                    568                       NaN                       NaN

                        Nivel del Paramédico  Cantidad de atenciones  \
tabla excel         0                      I                     8.0
                    1                      B                     5.0
                    2                      B                     6.0
                    3                      B                     7.0
                    4                      I                     8.0
...                                      ...                     ...
tabla cancer breast 564                  NaN                     NaN
                    565                  NaN                     NaN
                    566                  NaN                     NaN
                    567                  NaN                     NaN
                    568                  NaN                     NaN

                         Distancia recorrida (Km)  Velocidad máxima (Km/h)  \
tabla excel         0                        78.4                     82.0
                    1                        46.2                     89.0
                    2                        62.4                     99.0
                    3                        70.2                     95.0
                    4                        75.6                     87.0
...                                           ...                      ...
tabla cancer breast 564                       NaN                      NaN
                    565                       NaN                      NaN
                    566                       NaN                      NaN
                    567                       NaN                      NaN
                    568                       NaN                      NaN

                         ...  worst radius  worst texture  worst perimeter  \
tabla excel         0    ...           NaN            NaN              NaN
                    1    ...           NaN            NaN              NaN
                    2    ...           NaN            NaN              NaN
                    3    ...           NaN            NaN              NaN
                    4    ...           NaN            NaN              NaN
...                      ...           ...            ...              ...
tabla cancer breast 564  ...        25.450          26.40           166.10
                    565  ...        23.690          38.25           155.00
                    566  ...        18.980          34.12           126.70
                    567  ...        25.740          39.42           184.60
                    568  ...         9.456          30.37            59.16

                         worst area  worst smoothness  worst compactness  \
tabla excel         0           NaN               NaN                NaN
                    1           NaN               NaN                NaN
                    2           NaN               NaN                NaN
                    3           NaN               NaN                NaN
                    4           NaN               NaN                NaN
...                             ...               ...                ...
tabla cancer breast 564      2027.0           0.14100            0.21130
                    565      1731.0           0.11660            0.19220
                    566      1124.0           0.11390            0.30940
                    567      1821.0           0.16500            0.86810
                    568       268.6           0.08996            0.06444

                         worst concavity  worst concave points  \
tabla excel         0                NaN                   NaN
                    1                NaN                   NaN
                    2                NaN                   NaN
                    3                NaN                   NaN
                    4                NaN                   NaN
...                                  ...                   ...
tabla cancer breast 564           0.4107                0.2216
                    565           0.3215                0.1628
                    566           0.3403                0.1418
                    567           0.9387                0.2650
                    568           0.0000                0.0000

                         worst symmetry  worst fractal dimension
tabla excel         0               NaN                      NaN
                    1               NaN                      NaN
                    2               NaN                      NaN
                    3               NaN                      NaN
                    4               NaN                      NaN
...                                 ...                      ...
tabla cancer breast 564          0.2060                  0.07115
                    565          0.2572                  0.06637
                    566          0.2218                  0.07820
                    567          0.4087                  0.12400
                    568          0.2871                  0.07039

[5769 rows x 52 columns]

In [11]:
def extract_column_headers(panel_df):
    for name, df in panel_df.items():
        print(f'dataframe {name}:')
        print("\n".join(df.columns.tolist()))
        print("\n")
extract_column_headers(df_dict)

dataframe tabla excel:
Servicio
Empresa
Turno
Día de la semana
Experiencia del conductor
Formación del Paramédico
Nivel del Paramédico
Cantidad de atenciones
Distancia recorrida (Km)
Velocidad máxima (Km/h)
Consumo de combustible (Galones)
Tiempo en Movimiento (h)
Tiempo motor ON (h)


dataframe tabla csv:
longitude
latitude
housing_median_age
total_rooms
total_bedrooms
population
households
median_income
median_house_value


dataframe tabla cancer breast:
mean radius
mean texture
mean perimeter
mean area
mean smoothness
mean compactness
mean concavity
mean concave points
mean symmetry
mean fractal dimension
radius error
texture error
perimeter error
area error
smoothness error
compactness error
concavity error
concave points error
symmetry error
fractal dimension error
worst radius
worst texture
worst perimeter
worst area
worst smoothness
worst compactness
worst concavity
worst concave points
worst symmetry
worst fractal dimension

In [16]:
def extract_dataframe_sizes(panel_df):
    for key, group_df in panel_df.items():
        print(f"nombre del dataframe: {key}")
        print(f"dimensión: ")
        print(f"filas: {len(group_df)}, columnas: {len(group_df.columns)}\n")

# Usamos la función en el DataFrame concatenado (suponiendo que se llama df_combined)
headers = extract_dataframe_sizes(df_dict)

nombre del dataframe: tabla excel
dimensión:
filas: 2200, columnas: 13

nombre del dataframe: tabla csv
dimensión:
filas: 3000, columnas: 9

nombre del dataframe: tabla cancer breast
dimensión:
filas: 569, columnas: 30

In [12]:
TAC_data = df1[df1["Empresa"]=="TAC"]
print(f"número de registros de la empresa TAC es: {len(TAC_data)}")

número de registros de la empresa TAC es: 596

In [24]:

total_nulls = df2.isnull().sum()
print(f"nulos por columna:\n{total_nulls}")
print("\n")
print(f"total nulos: {total_nulls.sum()}")

nulos por columna:
longitude             0
latitude              5
housing_median_age    1
total_rooms           1
total_bedrooms        1
population            3
households            2
median_income         2
median_house_value    0
dtype: int64


total nulos: 15