<h4 style="text-align: center;"> Curso: Programación para el análisis de datos</h4><br>
<h4 style="text-align: center;">Tarea: Unidad 1 - ejercicio 1</h4><br>
<h4 style="text-align: center;">Presentado por: Oscar Andrés Russi Porras</h4><br>
<h4 style="text-align: center;">Grupo: 10</h4><br>
<h4 style="text-align: center;">Código: 1018436442</h4><br>
<h4 style="text-align: center;">Presentado a: Felipe Alexander Pipicano Guzmán</h4><br>
<h4 style="text-align: center;">Universidad Nacional Abierta y a Distancia – UNAD</h4><br>
<h4 style="text-align: center;">Fecha: 10/09/2023</h4><br>

<h3><ul>Para este ejercicio, cargue de nuevo los datos del Ejercicio 1, pero
genere un DataFrame llamado df, solamente con las columnas:
    <li> type</li>
    <li> mass_kg</li>
<li> year_built</li>
    <li> home_port</li>
    <li> name</li>
 <ul>
  </h3>

In [2]:
import requests
import pandas as pd

url = "https://api.spacexdata.com/v4/ships"
response = requests.get(url)
data = response.json()
df_all_columns = pd.DataFrame.from_dict(data)
# Seleccionar solo las columnas deseadas
selected_columns = ["type", "mass_kg", "year_built","home_port","name"]
df = df_all_columns[selected_columns]
print(df)

                type    mass_kg  year_built            home_port  \
0                Tug   266712.0      1976.0  Port of Los Angeles
1              Cargo        NaN         NaN  Port of Los Angeles
2              Cargo        NaN         NaN  Port of Los Angeles
3              Barge        NaN      2021.0       Port Canaveral
4                Tug   202302.0      1974.0  Port of Los Angeles
5                Tug   273063.0      1999.0       Port Canaveral
6   High Speed Craft   449964.0      2014.0       Port Canaveral
7   High Speed Craft   449964.0      2015.0       Port Canaveral
8              Cargo   451778.0      2009.0       Port Canaveral
9              Cargo   502999.0      2007.0       Port Canaveral
10             Cargo        NaN      2014.0       Port Canaveral
11             Cargo   450870.0      2010.0       Port Canaveral
12               Tug   508023.0      1995.0       Port Canaveral
13               Tug   320236.0      1985.0      Fort Lauderdale
14             Barge        NaN      2014.0       Port Canaveral
15             Barge        NaN      2015.0       Port Canaveral
16               Tug        NaN         NaN  Port of Los Angeles
17             Cargo   440892.0      2002.0  Port of Los Angeles
18             Barge        NaN      2015.0  Port of Los Angeles
19               Tug    89811.0      1976.0  Port of Los Angeles
20               Tug   351080.0      1974.0  Port of Los Angeles
21               Tug   312072.0      1976.0       Port Canaveral
22               Tug   843682.0      1975.0       Port Canaveral
23               Tug   741170.0      2003.0       Port Canaveral
24             Cargo  2097411.0      2014.0       Port Canaveral
25               Tug   445428.0      1944.0       Port Canaveral
26             Cargo  4616663.0      2015.0       Port Canaveral
27             Cargo  2719740.0      2009.0       Port Canaveral
28             Cargo  2719740.0      2009.0       Port Canaveral

                            name
0              American Champion
1              American Islander
2                American Spirit
3        A Shortfall of Gravitas
4             Betty R Gambarella
5                    Elsbeth III
6                    GO Ms Chief
7                     GO Ms Tree
8                        Shannon
9                     GO Pursuit
10                      GO Quest
11                         Megan
12                          HAWK
13                     Hollywood
14  Just Read The Instructions 1
15  Just Read The Instructions 2
16                       Kelly C
17                     NRC Quest
18    Of Course I Still Love You
19              Pacific Freeedom
20               Pacific Warrior
21                        RACHEL
22                  Finn Falgout
23                   Lauren Foss
24               Shelia Bordelon
25                     Mr. Jonah
26                 HOS Briarwood
27                          Doug
28                           Bob

<h3>Determine cuantos datos faltantes hay en la variable mass_kg del
mediante value_counts()</h3>

In [3]:
total = len(df)
non_null_values = sum(df["mass_kg"].value_counts().values)
print(f"El número de datos faltantes es: {total-non_null_values}")

El número de datos faltantes es: 8

<h3>Crea un DataFrame df1 removiendo las filas que tienen algunos
datos faltantes. Por otro lado crea un DataFrame df2 removiendo
las filas que tienen todos los datos faltantes. Compáralos y
comenta los resultados.</h3>

In [5]:
df1 = df[df.isnull().any(axis=1)]
df2 = df[df.isnull().all(axis=1)]
print(df1)
print(df2)

     type  mass_kg  year_built            home_port  \
1   Cargo      NaN         NaN  Port of Los Angeles
2   Cargo      NaN         NaN  Port of Los Angeles
3   Barge      NaN      2021.0       Port Canaveral
10  Cargo      NaN      2014.0       Port Canaveral
14  Barge      NaN      2014.0       Port Canaveral
15  Barge      NaN      2015.0       Port Canaveral
16    Tug      NaN         NaN  Port of Los Angeles
18  Barge      NaN      2015.0  Port of Los Angeles

                            name
1              American Islander
2                American Spirit
3        A Shortfall of Gravitas
10                      GO Quest
14  Just Read The Instructions 1
15  Just Read The Instructions 2
16                       Kelly C
18    Of Course I Still Love You
Empty DataFrame
Columns: [type, mass_kg, year_built, home_port, name]
Index: []

<h3> En el DataFrame df completa los datos faltantes por los siguientes
tres métodos (muestra y comenta los resultados):
    <ul>
        <li>Completar datos faltantes con el número 0.</li>
        <li>Completar por método de propagación hacia adelante.</li>
        <li>Completar los valores faltantes con el promedio de la columna.</li>
        </ul></h3>

In [6]:
fill_zero = lambda df_: df_.fillna(0)
fill_forward = lambda df_: df_.fillna(method='ffill')
fill_mean = lambda df_: df_.fillna(df.mean())
def fill_nulls(df_, method_, message_):
    try:
        df_filled_null = method_(df_)
        print(message_)
        print(df_filled_null)
    except Exception as e:
        print("Ocurrió un error al intentar completar los valores faltantes:", e)
fill_nulls(df, fill_zero,"FILL WITH FORWARD ZERO:")
fill_nulls(df, fill_forward,"FILL WITH FORWARD FILL:")
fill_nulls(df, fill_mean,"FILL WITH MEAN:")

FILL WITH FORWARD ZERO:
                type    mass_kg  year_built            home_port  \
0                Tug   266712.0      1976.0  Port of Los Angeles
1              Cargo        0.0         0.0  Port of Los Angeles
2              Cargo        0.0         0.0  Port of Los Angeles
3              Barge        0.0      2021.0       Port Canaveral
4                Tug   202302.0      1974.0  Port of Los Angeles
5                Tug   273063.0      1999.0       Port Canaveral
6   High Speed Craft   449964.0      2014.0       Port Canaveral
7   High Speed Craft   449964.0      2015.0       Port Canaveral
8              Cargo   451778.0      2009.0       Port Canaveral
9              Cargo   502999.0      2007.0       Port Canaveral
10             Cargo        0.0      2014.0       Port Canaveral
11             Cargo   450870.0      2010.0       Port Canaveral
12               Tug   508023.0      1995.0       Port Canaveral
13               Tug   320236.0      1985.0      Fort Lauderdale
14             Barge        0.0      2014.0       Port Canaveral
15             Barge        0.0      2015.0       Port Canaveral
16               Tug        0.0         0.0  Port of Los Angeles
17             Cargo   440892.0      2002.0  Port of Los Angeles
18             Barge        0.0      2015.0  Port of Los Angeles
19               Tug    89811.0      1976.0  Port of Los Angeles
20               Tug   351080.0      1974.0  Port of Los Angeles
21               Tug   312072.0      1976.0       Port Canaveral
22               Tug   843682.0      1975.0       Port Canaveral
23               Tug   741170.0      2003.0       Port Canaveral
24             Cargo  2097411.0      2014.0       Port Canaveral
25               Tug   445428.0      1944.0       Port Canaveral
26             Cargo  4616663.0      2015.0       Port Canaveral
27             Cargo  2719740.0      2009.0       Port Canaveral
28             Cargo  2719740.0      2009.0       Port Canaveral

                            name
0              American Champion
1              American Islander
2                American Spirit
3        A Shortfall of Gravitas
4             Betty R Gambarella
5                    Elsbeth III
6                    GO Ms Chief
7                     GO Ms Tree
8                        Shannon
9                     GO Pursuit
10                      GO Quest
11                         Megan
12                          HAWK
13                     Hollywood
14  Just Read The Instructions 1
15  Just Read The Instructions 2
16                       Kelly C
17                     NRC Quest
18    Of Course I Still Love You
19              Pacific Freeedom
20               Pacific Warrior
21                        RACHEL
22                  Finn Falgout
23                   Lauren Foss
24               Shelia Bordelon
25                     Mr. Jonah
26                 HOS Briarwood
27                          Doug
28                           Bob
FILL WITH FORWARD FILL:
                type    mass_kg  year_built            home_port  \
0                Tug   266712.0      1976.0  Port of Los Angeles
1              Cargo   266712.0      1976.0  Port of Los Angeles
2              Cargo   266712.0      1976.0  Port of Los Angeles
3              Barge   266712.0      2021.0       Port Canaveral
4                Tug   202302.0      1974.0  Port of Los Angeles
5                Tug   273063.0      1999.0       Port Canaveral
6   High Speed Craft   449964.0      2014.0       Port Canaveral
7   High Speed Craft   449964.0      2015.0       Port Canaveral
8              Cargo   451778.0      2009.0       Port Canaveral
9              Cargo   502999.0      2007.0       Port Canaveral
10             Cargo   502999.0      2014.0       Port Canaveral
11             Cargo   450870.0      2010.0       Port Canaveral
12               Tug   508023.0      1995.0       Port Canaveral
13               Tug   320236.0      1985.0      Fort Lauderdale
14             Barge   320236.0      2014.0       Port Canaveral
15             Barge   320236.0      2015.0       Port Canaveral
16               Tug   320236.0      2015.0  Port of Los Angeles
17             Cargo   440892.0      2002.0  Port of Los Angeles
18             Barge   440892.0      2015.0  Port of Los Angeles
19               Tug    89811.0      1976.0  Port of Los Angeles
20               Tug   351080.0      1974.0  Port of Los Angeles
21               Tug   312072.0      1976.0       Port Canaveral
22               Tug   843682.0      1975.0       Port Canaveral
23               Tug   741170.0      2003.0       Port Canaveral
24             Cargo  2097411.0      2014.0       Port Canaveral
25               Tug   445428.0      1944.0       Port Canaveral
26             Cargo  4616663.0      2015.0       Port Canaveral
27             Cargo  2719740.0      2009.0       Port Canaveral
28             Cargo  2719740.0      2009.0       Port Canaveral

                            name
0              American Champion
1              American Islander
2                American Spirit
3        A Shortfall of Gravitas
4             Betty R Gambarella
5                    Elsbeth III
6                    GO Ms Chief
7                     GO Ms Tree
8                        Shannon
9                     GO Pursuit
10                      GO Quest
11                         Megan
12                          HAWK
13                     Hollywood
14  Just Read The Instructions 1
15  Just Read The Instructions 2
16                       Kelly C
17                     NRC Quest
18    Of Course I Still Love You
19              Pacific Freeedom
20               Pacific Warrior
21                        RACHEL
22                  Finn Falgout
23                   Lauren Foss
24               Shelia Bordelon
25                     Mr. Jonah
26                 HOS Briarwood
27                          Doug
28                           Bob
Ocurrió un error al intentar completar los valores faltantes: Could not convert ['TugCargoCargoBargeTugTugHigh Speed CraftHigh Speed CraftCargoCargoCargoCargoTugTugBargeBargeTugCargoBargeTugTugTugTugTugCargoTugCargoCargoCargo'
 'Port of Los AngelesPort of Los AngelesPort of Los AngelesPort CanaveralPort of Los AngelesPort CanaveralPort CanaveralPort CanaveralPort CanaveralPort CanaveralPort CanaveralPort CanaveralPort CanaveralFort LauderdalePort CanaveralPort CanaveralPort of Los AngelesPort of Los AngelesPort of Los AngelesPort of Los AngelesPort of Los AngelesPort CanaveralPort CanaveralPort CanaveralPort CanaveralPort CanaveralPort CanaveralPort CanaveralPort Canaveral'
 'American ChampionAmerican IslanderAmerican SpiritA Shortfall of GravitasBetty R GambarellaElsbeth IIIGO Ms ChiefGO Ms TreeShannonGO PursuitGO QuestMeganHAWKHollywoodJust Read The Instructions 1Just Read The Instructions 2Kelly CNRC QuestOf Course I Still Love YouPacific FreeedomPacific WarriorRACHELFinn FalgoutLauren FossShelia BordelonMr. JonahHOS BriarwoodDougBob'] to numeric

<h3>Operaciones de strings:
Realice las siguientes operaciones en el DataFrame df:
De la columna home_port extraiga la primera palabra de cada
dato y muestre los resultados.
</h3>

In [7]:
first_chars = df['home_port'].str[0]

print(first_chars)

0     P
1     P
2     P
3     P
4     P
5     P
6     P
7     P
8     P
9     P
10    P
11    P
12    P
13    F
14    P
15    P
16    P
17    P
18    P
19    P
20    P
21    P
22    P
23    P
24    P
25    P
26    P
27    P
28    P
Name: home_port, dtype: object

<h3>Determine cuántos datos comienzan con la palabra Port y cuántos
datos comienzan con una palabra diferente, ¿Cuáles son las
palabras diferentes?
</h3>

In [8]:
start_with_port = df[df['home_port'].str.startswith('Port')]
not_port = df[~df['home_port'].str.startswith('Port')]
print("VALUES WITH PORT AT THE START:")
print(start_with_port)
print("VALUES WITH NO PORT AT THE START:")
print(not_port)
first_words = not_port['home_port'].str.split().str[0]
print("LIST OF WORDS WHEN PORT IS NOT THE FIRST WORD:")
print(first_words)

VALUES WITH PORT AT THE START:
                type    mass_kg  year_built            home_port  \
0                Tug   266712.0      1976.0  Port of Los Angeles
1              Cargo        NaN         NaN  Port of Los Angeles
2              Cargo        NaN         NaN  Port of Los Angeles
3              Barge        NaN      2021.0       Port Canaveral
4                Tug   202302.0      1974.0  Port of Los Angeles
5                Tug   273063.0      1999.0       Port Canaveral
6   High Speed Craft   449964.0      2014.0       Port Canaveral
7   High Speed Craft   449964.0      2015.0       Port Canaveral
8              Cargo   451778.0      2009.0       Port Canaveral
9              Cargo   502999.0      2007.0       Port Canaveral
10             Cargo        NaN      2014.0       Port Canaveral
11             Cargo   450870.0      2010.0       Port Canaveral
12               Tug   508023.0      1995.0       Port Canaveral
14             Barge        NaN      2014.0       Port Canaveral
15             Barge        NaN      2015.0       Port Canaveral
16               Tug        NaN         NaN  Port of Los Angeles
17             Cargo   440892.0      2002.0  Port of Los Angeles
18             Barge        NaN      2015.0  Port of Los Angeles
19               Tug    89811.0      1976.0  Port of Los Angeles
20               Tug   351080.0      1974.0  Port of Los Angeles
21               Tug   312072.0      1976.0       Port Canaveral
22               Tug   843682.0      1975.0       Port Canaveral
23               Tug   741170.0      2003.0       Port Canaveral
24             Cargo  2097411.0      2014.0       Port Canaveral
25               Tug   445428.0      1944.0       Port Canaveral
26             Cargo  4616663.0      2015.0       Port Canaveral
27             Cargo  2719740.0      2009.0       Port Canaveral
28             Cargo  2719740.0      2009.0       Port Canaveral

                            name
0              American Champion
1              American Islander
2                American Spirit
3        A Shortfall of Gravitas
4             Betty R Gambarella
5                    Elsbeth III
6                    GO Ms Chief
7                     GO Ms Tree
8                        Shannon
9                     GO Pursuit
10                      GO Quest
11                         Megan
12                          HAWK
14  Just Read The Instructions 1
15  Just Read The Instructions 2
16                       Kelly C
17                     NRC Quest
18    Of Course I Still Love You
19              Pacific Freeedom
20               Pacific Warrior
21                        RACHEL
22                  Finn Falgout
23                   Lauren Foss
24               Shelia Bordelon
25                     Mr. Jonah
26                 HOS Briarwood
27                          Doug
28                           Bob
VALUES WITH NO PORT AT THE START:
   type   mass_kg  year_built        home_port       name
13  Tug  320236.0      1985.0  Fort Lauderdale  Hollywood
LIST OF WORDS WHEN PORT IS NOT THE FIRST WORD:
13    Fort
Name: home_port, dtype: object

<h3>Filtre el DataFrame con los datos que en la columna name
contengan en el string la palabra “GO” y muestre los resultados.</h3>

In [9]:
contains_go = df[df['name'].str.contains('GO')]
print("VALUES THAT CONTAINS GO:")
print(contains_go)

VALUES THAT CONTAINS GO:
                type   mass_kg  year_built       home_port         name
6   High Speed Craft  449964.0      2014.0  Port Canaveral  GO Ms Chief
7   High Speed Craft  449964.0      2015.0  Port Canaveral   GO Ms Tree
9              Cargo  502999.0      2007.0  Port Canaveral   GO Pursuit
10             Cargo       NaN      2014.0  Port Canaveral     GO Quest

<h3>Convierta todos los strings de la columna name en palabras con
todas sus letras mayúsculas y muestre los resultados.</h3>

In [13]:
df_clone= df.copy()
df_clone['name'] = df_clone['name'].str.upper()
print(df_clone['name'])

0                AMERICAN CHAMPION
1                AMERICAN ISLANDER
2                  AMERICAN SPIRIT
3          A SHORTFALL OF GRAVITAS
4               BETTY R GAMBARELLA
5                      ELSBETH III
6                      GO MS CHIEF
7                       GO MS TREE
8                          SHANNON
9                       GO PURSUIT
10                        GO QUEST
11                           MEGAN
12                            HAWK
13                       HOLLYWOOD
14    JUST READ THE INSTRUCTIONS 1
15    JUST READ THE INSTRUCTIONS 2
16                         KELLY C
17                       NRC QUEST
18      OF COURSE I STILL LOVE YOU
19                PACIFIC FREEEDOM
20                 PACIFIC WARRIOR
21                          RACHEL
22                    FINN FALGOUT
23                     LAUREN FOSS
24                 SHELIA BORDELON
25                       MR. JONAH
26                   HOS BRIARWOOD
27                            DOUG
28                             BOB
Name: name, dtype: object

<h3>Convierta todos los strings de la columna type en palabras con
todas sus letras minúsculas y muestre los resultados.</h3>

In [14]:
df_clone= df.copy()
df_clone['type'] = df_clone['type'].str.lower()
print(df_clone['type'])

0                  tug
1                cargo
2                cargo
3                barge
4                  tug
5                  tug
6     high speed craft
7     high speed craft
8                cargo
9                cargo
10               cargo
11               cargo
12                 tug
13                 tug
14               barge
15               barge
16                 tug
17               cargo
18               barge
19                 tug
20                 tug
21                 tug
22                 tug
23                 tug
24               cargo
25                 tug
26               cargo
27               cargo
28               cargo
Name: type, dtype: object

<h3>Divida todos los strings de la columna home_port por el espacio
en blanco y muestre los resultados.</h3>

In [16]:
df_clone= df.copy()
df_clone['home_port'] = df_clone['home_port'].str.split()
print(df_clone['home_port'])

0     [Port, of, Los, Angeles]
1     [Port, of, Los, Angeles]
2     [Port, of, Los, Angeles]
3            [Port, Canaveral]
4     [Port, of, Los, Angeles]
5            [Port, Canaveral]
6            [Port, Canaveral]
7            [Port, Canaveral]
8            [Port, Canaveral]
9            [Port, Canaveral]
10           [Port, Canaveral]
11           [Port, Canaveral]
12           [Port, Canaveral]
13          [Fort, Lauderdale]
14           [Port, Canaveral]
15           [Port, Canaveral]
16    [Port, of, Los, Angeles]
17    [Port, of, Los, Angeles]
18    [Port, of, Los, Angeles]
19    [Port, of, Los, Angeles]
20    [Port, of, Los, Angeles]
21           [Port, Canaveral]
22           [Port, Canaveral]
23           [Port, Canaveral]
24           [Port, Canaveral]
25           [Port, Canaveral]
26           [Port, Canaveral]
27           [Port, Canaveral]
28           [Port, Canaveral]
Name: home_port, dtype: object

<h3>Reemplace todas las palabras ‘Port’ que se encuentran en la
columna home_port por la abreviación ‘P.’ y muestre los
resultados.</h3>

In [17]:
df_clone= df.copy()
df_clone['home_port'] = df_clone['home_port'].str.replace("Port","P")
print(df_clone['home_port'])

0     P of Los Angeles
1     P of Los Angeles
2     P of Los Angeles
3          P Canaveral
4     P of Los Angeles
5          P Canaveral
6          P Canaveral
7          P Canaveral
8          P Canaveral
9          P Canaveral
10         P Canaveral
11         P Canaveral
12         P Canaveral
13     Fort Lauderdale
14         P Canaveral
15         P Canaveral
16    P of Los Angeles
17    P of Los Angeles
18    P of Los Angeles
19    P of Los Angeles
20    P of Los Angeles
21         P Canaveral
22         P Canaveral
23         P Canaveral
24         P Canaveral
25         P Canaveral
26         P Canaveral
27         P Canaveral
28         P Canaveral
Name: home_port, dtype: object

<h3>Conclusiones</h3>
<ul>
    <li>De los 21 tipos de barcos, el 80.95% tiene una masa de menos de 1 millón de kilogramos, y solo un barco supera los 4 millones de kilogramos en su masa.</li>
    <li>la data que se obtiene del edpoint de spacex tiene 28 filas y 24 columnas. De esas 24 columnas 9 son variables cuantitativas y dos son listas, una es la lista de roles y la otra es la lista de lanzamientos.</li>
</ul>

<h3>Bibliografía</h3>
<ul>
<li>Alex Galea. (2018). Applied Data Science with Python and Jupyter: Use Powerful Industry-standard Tools to Unlock New, Actionable Insights From Your Data: Vol. 1st edition.</li>
<li>Boschetti, A., & Massaron, L. (2016). Python Data Science Essentials - Second Edition (Vol. 0002).</li>
<li>Samir Madhavan. (2015). Mastering Python for Data Science: Explore the World of Data Science Through Python and Learn How to Make Sense of Data.</li>
<li>Vargas, M. (2022). Carga de datos en Python desde un archivo Excel. UNAD. [OVI]</li>
<li>McKinney, W. (2015). Pandas, python data analysis library. URL http://pandas. pydata. org, 3-15.</li>
</ul>